/*Code for the footer starts here*/

.logo img{
transition: transform .2s; 
width: 100px;
height: 100px;
}

.logo img:hover{
transform: scale(1.2);
}

.nav a{
  text-decoration: none;

}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: black;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
}

.current_page{
  text-shadow: 0px 0px 1px black;
}
/*Code for the footer ends here*/



html{
  align-content: center; 
  background-color: white;
  background-size: cover;
  color: black;
  background-image: url("White.jpg"); 
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 100%;
}

#label{ 
  text-align: center;
}

#error_404{
text-align: center;
}
