.grid-item{
	width: 10vw;
	height: 10vw;
	font-size: 5vw;
	font-family: 'Finger Paint', cursive;

	text-align: center;
	align-content: center;

    border-width: 0.4vw;
    border-color: black;
    border-radius: 7px;
    background-color: white;
    color: black;

}

#main-content{
vertical-align:center;
	align-content: center;
}

table{
    width: 30vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    align-content: center;

}

.grid-item:hover{
	background-color: white;
	color: black;
	  box-shadow: 0px 0px 7px black;
	  text-shadow: 0px 0px 1px black;


}
/*img{
	height: 10%;
	width: 10%;
	box-align: center;
}*/
h1{
	text-align: center;
	align-content: center;
	font-size: 3vw;
	color: black;
}

h2{
	text-align: center;
	align-content: center;
	font-size: 2.5vw;
	color: black;
}

.game_grid{
	display: grid;

  grid-template-columns: auto auto auto auto;
}



#box_1 {
grid-row-start: 1;
grid-column-start: 1;
}

#box_2 {
grid-row-start: 1;
grid-column-start: 2;
}

#box_3 {
grid-row-start: 2;
grid-column-start: 3;
}

#box_4 {
grid-row-start: 2;
grid-column-start: 4;
}

#box_5 {
grid-row-start: 1;
grid-column-start: 5;
}

#box_6 {
grid-row-start: 2;
grid-column-start: 6;
}

#box_7 {
grid-row-start: 3;
grid-column-start: 7;
}

#box_8 {
grid-row-start: 3;
grid-column-start: 8;
}

#box_9 {
grid-row-start: 3;
grid-column-start: 9;
}





#reset_button{
	margin-top: 10px;
	width: 28vw;
	height: 8vw;
	font-size: 5vw;
	color: black;
	text-align: center;
	align-content: center;
	border-width: 0.5vw;
    border-color: black;
    background-color: white;
    border-radius: 10px;

}

#reset_button:active{
	color: white;
	box-shadow: 0px 0px 7px black;
	text-shadow: 0px 0px 5px black;


}

#reset_button:hover{
	box-shadow: 0px 0px 7px black;

}

.bg_image{

}
html{
	align-content: center; 
	background-color: white;
	background-size: cover;
	color: black;
	background-image: url("White.jpg"); 
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 100%;
}


.wrapper{
	text-align: center;
}



.bg-wrap {
  overflow: hidden;
  position: relative;
}

.bg {
  opacity: 0.3;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: relative;


