/*Code for the footer starts here*/

.logo{
  left: 0;
  z-index: 600;
  margin-top: 5px;
  margin-bottom: 5px;
}
.logo img{
transition: all 0.4s ease-in-out;
width: 100px;
height: 100px;
padding: 10px 20px;
filter: drop-shadow(0px 5px 10px rgba(100, 100, 100, 1));
}

.logo img:hover{
transform: rotate(-10deg) scale(1.1);
filter: drop-shadow(0px 0px 20px rgba(100, 100, 100, 1));
}

.nav{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100%;
  margin: 0 auto;
  background-color: black;
/*  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fthumbs.gfycat.com%2FFaithfulSlowCoelacanth-max-1mb.gif&f=1&nofb=1&ipt=9894166c1a80bd8f19f853558b738a6230624402c9a7acd123df97637bf63432&ipo=images"); */
/*  background-repeat: no-repeat;
    background-size: cover;*/
  background-position: center center;
  border-bottom:1px white solid;
}


.current_page{
  text-decoration: none;
  padding: 7px 15px;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  font-family: 'Arial', serif;
  font-size: 16px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 7px white;
}

#page {
  text-decoration: none;
  padding: 7px 15px;
  margin-right: 15px;
  transition: all 0.3s ease-in-out;
  font-family: 'Arial', serif;
  font-size: 16px;
  color: #88888a;
  text-transform: uppercase;

}

.current_page:hover{
color:white;
border-bottom:1.5px solid white;
}

#page:hover{
color:white;
border-bottom:1.5px solid white;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  transition: all 0.3s ease-in-out;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}


/*Code for the header ends here*/



html{
  align-content: center; 
  background-color: black;
  background-size: cover;
  color: white;
  background-image: url("backgrounds/header_background.png"); 
  background-position: center center;
  min-height: 100%;
}

#label{ 
  text-align: center;
}

#error_404{
  text-align: center;
}
#error_404 img{
text-align: center;
width: 50%;
height: 50%;
}



.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 900px 100px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  gap: 40px 0px;
}

main{
  margin-top: 200px;
  grid-column: 1/span 3;
  grid-row: 1/1;
}

 .spotlight {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-align-items: center;
    -webkit-align-items: center;
    -ms-align-items: center;
    align-items: center;
    margin-left: 15%;
    margin-right: 10%;

  }

    .spotlight .content {
      -moz-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
          margin-right: 5%;
    }

      .spotlight .content > :last-child {
        margin-bottom: 0;
      }

      .spotlight .content header.about-header {
        margin: 0 0 2em 0;
      }



      .spotlight iframe {
          margin-right: 4em;
        padding: 0.3em;
        display: block;
        border-radius: 90%;
        box-shadow: 0px 0px 100px darkorange;
        transition: all 0.3s ease-in-out;
        width: 22em;
        height: 40em;
      }

.spotlight p{
    font-family: 'Arial', serif;
  font-size: 20px;
}






footer {
  background-color: black;
  height: 100px;
  padding-top: 10px;
  border-top:1px white solid;
  width: 100vw;
  margin-top: 15%;
  grid-column: 1/span 3;
  grid-row: 2/2;
}

.footer p {
  color: white;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}

.social-links{
  text-align: center;
}

.social-links a {
  align-items: center;
  color: white;
  padding: 0px 5px 0px 5px;
}

.social-links a:hover {
    text-shadow: 0px 0px 7px white;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}




@media screen and (max-width: 980px) {

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 700px 100px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  gap: 40px 0px;
}


footer {
  background-color: black;
  height: 100px;
  padding-top: 10px;
  border-top:1px white solid;
  width: 100vw;
  margin-top: 90%;
}

.current_page{
  text-decoration: none;
  padding: 7px 10px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  font-family: 'Arial', serif;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 7px white;
}

#page {
  text-decoration: none;
  padding: 7px 10px;
  margin-right: 10px;
  transition: all 0.3s ease-in-out;
  font-family: 'Arial', serif;
  font-size: 14px;
  color: #88888a;
  text-transform: uppercase;

}


      .spotlight {
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center;
      }

        .spotlight .content {
          -moz-flex: 0 1 auto;
          -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          width: 100%;
        }



        .spotlight iframe {
          -moz-flex: 0 1 auto;
          -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin-left: 0;
          margin-top: 2em;
          margin-bottom: 2em;
          
          width: 18em;
          height: 36em;
        }


}

 @media screen and (max-width: 500px) {

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 800px 100px;
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  gap: 40px 0px;
}


footer {
  background-color: black;
  height: 100px;
  padding-top: 10px;
  border-top:1px white solid;
  width: 100vw;
  margin-top: 100%;
}

 .current_page{
  text-decoration: none;
  padding: 7px 5px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  font-family: 'Arial', serif;
  font-size: 10px;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px 0px 7px white;
}

#page {
  text-decoration: none;
  padding: 7px 5px;
  margin-right: 20px;
  transition: all 0.3s ease-in-out;
  font-family: 'Arial', serif;
  font-size: 10px;
  color: #88888a;
  text-transform: uppercase;

}

.nav ul{
  margin-right: 60px;
}

      .spotlight {
        -moz-flex-direction: column-reverse;
        -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        text-align: center;
      }

        .spotlight .content {
          -moz-flex: 0 1 auto;
          -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          width: 100%;
        }



        .spotlight iframe {
          -moz-flex: 0 1 auto;
          -webkit-flex: 0 1 auto;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto;
          margin-left: 0;
          margin-top: 2em;
          margin-bottom: 2em;

          width: 16em;
          height: 34em;
        }




}
